
<div>
  <nav >
    <a class="navLinks" href="#">Home new</a> 
    <a class="navLinks" href="#">Try Here!</a> 
    <a class="navLinks" href="#">About</a> 
    <a class="navLinks" href="#">Contact</a> 

    <div class="menu">
      <mat-icon mat-button [matMenuTriggerFor]="menu">
        <span class="material-symbols-outlined">
          drag_handle
          </span>
      </mat-icon>
  
      <mat-menu #menu="matMenu" class="customize">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
    
   
  </nav>
  <hr>

  <div class="banner">
    <div class="banner-content">
      InTheAR
    </div>
  </div>

  
    <!-- <img class="landingImg" src="/assets/landing.jpg"/> -->
    <div class="landingCardContainer">
      <div></div>
      <mat-card class="flex-item">
        <mat-card-content><img src="/assets/landing.jpg"/>
        </mat-card-content>
      </mat-card>
      <div></div>
    </div>

    <!-- <mat-grid-list class="landingImgContainer" cols="8" rowHeight="8:6">
      <mat-grid-tile colspan="2"></mat-grid-tile>
      <mat-grid-tile colspan="4"><img class="landingImg" src="/assets/landing.jpg"/></mat-grid-tile>
      <mat-grid-tile colspan="2"></mat-grid-tile>
    </mat-grid-list> -->


    <div class="ArGrid">
      <mat-card>
        <mat-card-content><img src="/assets/landing.jpg"/>
          <p>solar system
          </p>
        </mat-card-content>
        
      </mat-card>
      <mat-card>
        <mat-card-content><img src="/assets/landing.jpg"/></mat-card-content>
      </mat-card>
    </div>


    <!-- <mat-grid-list class="ArGrid" cols="2" rowHeight="2:1">
      <mat-grid-tile [colspan] = "1" class="ArGridContent">
        <mat-card>
          <mat-card-content><img src="/assets/landing.jpg"/></mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan] = "1" class="ArGridContent">
        <mat-card>
          <mat-card-content><img src="/assets/landing.jpg"/></mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list> -->



    <!-- <mat-card>
      <mat-card-content><img src="/assets/landing.jpg"/></mat-card-content>
    </mat-card> -->

  

    <!-- <div class="container">
      <div class="text">
          <h1>Your Text Here</h1>
      </div>
      <img class="image" src="/assets/landing.jpg" alt="Your Image">
  </div> -->
</div>