/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    height: 100%;
    background-color: black;
    color : rgb(255, 255, 255);
    display: block;
    font-family: "Source Sans";
    font-size: 16.9372px;
    font-style: normal;
    font-weight: 400;
}

